body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.book{
    text-align: center;
    display: inline-block;
    height: 375px;
    overflow: hidden;
}

#book_cover{
    text-align: center;
    height: 300px;
    display: block; 
    transition: transform 0.5s;
}

#book_cover:hover{
    transform: scale(0.95);
}

#header{
    text-align: left;
}

.text{
    text-align: left;
    color:gray;
    overflow:hidden;
    width: 235px;
}